.centered {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 800px;
  height: 800px;
}

.square {
  float: left;
  background-color: black;
  box-sizing: border-box;
}
